.root {
	-fx-background-color: Cornsilk;
}

.table-view {
	-fx-background-color: Cornsilk;
}

.table-view .column-header {
    -fx-background-color: NavajoWhite;
}

.button {
	-fx-background-color: NavajoWhite;
}

.button:pressed, .button:default:hover:pressed {
	-fx-background-color: white;
	-fx-text-fill: #1d1d1d;
}

.table-row-cell:selected {
    -fx-background-color: lightskyblue;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

