.table-view .column-header {
	-fx-background-color: NavajoWhite;
}

.table-row-cell:selected {
	-fx-background-color: lightskyblue;
	-fx-background-insets: 0.0;
	-fx-background-radius: 1.0;
}

