/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root
{
    -fx-background-color: skyblue;
}

BorderPane
 {
	-fx-background-image: url("../vue/contacts.jpg");
    -fx-background-repeat: stretch;  
    -fx-background-position: center center; 
    -fx-background-size: 100%;
} 
.split-pane
{
	-fx-background-color:lightcyan;
}