
.table-view{
   -fx-background-color: transparent;
}
.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color:  Gainsboro;

}

.table-view .table-cell{
    -fx-text-fill: Black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, White;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, White;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #BBDDFE;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;

}

